body {
  background: #f9f9f9;
}

.wrapper-tings {
  margin-top: 30px;
}

  .wrapper-tings .tings,
  .notifications-wrapper .media {
    margin-bottom: 10px;
    padding:20px;
    border-radius:  4px;
    background: #FFF;
  }

    .wrapper-tings .tings .name {
      font-weight: bold;
    }    
    .wrapper-tings .tings .info {
        font-size: 12px;
        color: #aaa;
    }