{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}
<div class="container" id="tingerprofileapp">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">{{user.username}}</h1>
      {% if user.tingerprofile.avatar %}
      <figure class="image is-128x128">
        <img src="{{ user.tingerprofile.avatar.url }}" alt="">
      </figure>
      <hr>
      {% endif %}
      <p>
        <a href="{% url 'followers' user.username %}">
        Followers: {{ user.tingerprofile.followed_by.count }}</a></p>
      <p>Follows: {{ user.tingerprofile.follows.count }}</p>

      {% if user !=  request.user %}
        {% if request.user.tingerprofile in user.tingerprofile.followed_by.all %}
        <a href="{% url 'unfollow_tinger' user.username %}" class="button is-danger">Unfollow</a>
        {% else %}
        <a href="{% url 'follow_tinger' user.username %}" class="button is-success">Follow</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="columns">
    <div class="column is-8">
      <div class="wrapper-tings">
        {% for ting in tings %}
          <div class="tings">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  {% if ting.created_by.tingerprofile.avatar %}
                  <img src="{{ting.created_by.tingerprofile.avatar.url}}" alt="">
                  {% endif %}
                </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ting.created_by.username}}</strong>
                    <small>{{ting.created_at|naturaltime }}</small>
                    <br>
                    {{ting.body}}
                    <br>
                    <a @click="likeTing({{ting.id}})" v-if="!liked_tings.includes({{ting.ig}})">Like</a>
                    <span v-if="liked_tings.includes({{ting.ig}})">Liked</span>
                    <small id ="likes-{{ting.id}}">{{ting.likes.count}} likes</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
  new Vue({
    el: '#tingerprofileapp',
    delimiters: ['[[', ']]'],
    data() {
      return {
        liked_tings: [{% for ting in tings %}{%if ting.liked%}{{ting.id}}, {%endif%}{%endfor%}],
      }
    },
    methods: {
      likeTing(ting_id) {
        this.liked_tings.push(parseInt(ting_id));

        var ting = {
          'ting_id':ting_id
        };

        fetch('/api/add_like/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            credentials: 'same-origin',
            body: JSON.stringify(ting)
          })
          .then((response) => {
            console.log(response)
          })
          .catch((error) => {
            console.error(error)
          });

          const el = document.getElementById('likes-'+ting_id);
          const likes = parseInt(el.innerHTML.split(' ')[0]+1)
          el.innerHTML= likes + ' likes';
      },
    }
  })
</script>
{% endblock %}